-
  var
          BRANDS_TITLE = "There are 2 types of e-com brands",
          BRANDS_AREA_LEFT_HIGH = "Using high-converting<br>ad creatives",
          BRANDS_AREA_LEFT_LOW = "Low cost per<br>purchase",
          BRANDS_AREA_PURCHASES = "100 purchases",
          BRANDS_AREA_RIGHT_HIGH = "Average creatives",
          BRANDS_AREA_RIGHT_LOW = "Very high cost per<br>purchase",
          BRANDS_AREA_CENTER = "For the same amount of purchases"

section.brands
  .container
    h2.caption=BRANDS_TITLE

    .brands__group
      article(class="brands__area")
        strong.brands__area-high!=BRANDS_AREA_LEFT_HIGH
        strong.brands__area-low!=BRANDS_AREA_LEFT_LOW
        span=BRANDS_AREA_PURCHASES

      article.brands__area
        strong=BRANDS_AREA_CENTER

      article(class="brands__area")
        strong.brands__area-high=BRANDS_AREA_RIGHT_HIGH
        strong.brands__area-low!=BRANDS_AREA_RIGHT_LOW
        span=BRANDS_AREA_PURCHASES
