section.some-work
  .container
    .some-work__wrap
      h2.caption=SOME_WORK_TITLE

      .some-work__list
        each item in SOME_WORK__ITEMS
          a.some-work__item(href=item.link, data-case-name=item.name)
            if (item.poster === null || item.poster === '')
              video(preload="metadate"
                playsinline autoplay muted loop controls=false
                poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
                source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")
            if (item.video === null || item.video === '')
              picture
                img(src=assetsImgPath + item.poster, alt='Creative lime case' + item.name)

      +button(null, SOME_WORK_BUTTON, null, null)

      p=SOME_WORK_TEXT
