-
  var
          SOME_WORK_TITLE = "Some of our work",
          SOME_WORK__ITEMS = [
            {
              name: 'Cass',
              video: null,
              poster: 'case-cass.webp',
              link: "/case/cass"
            },
            {
              name: 'Express',
              video: null,
              poster: 'case-express.webp',
              link: "/case/express"
            },
            {
              name: 'Slh',
              video: null,
              poster: 'case-slh.webp',
              link: "/case/slh"
            },
            {
              name: 'Slh',
              video: null,
              poster: 'case-slh.webp',
              link: "/case/slh"
            },
            {
              name: 'Cass',
              video: null,
              poster: 'case-cass.webp',
              link: "/case/cass"
            },
            {
              name: 'Express',
              video: null,
              poster: 'case-express.webp',
              link: "/case/express"
            }
          ],
          SOME_WORK_BUTTON = "Let’s level up your e-com brand",
          SOME_WORK_TEXT = "Only $100 per video"

section.some-work
  .container
    .some-work__wrap
      h2.caption=SOME_WORK_TITLE

      .some-work__list
        each item in SOME_WORK__ITEMS
          a.some-work__item(href=item.link, data-case-name=item.name)
            if (item.poster === null || item.poster === '')
              video(preload="metadate"
                playsinline autoplay muted loop controls=false
                poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
                source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")
            if (item.video === null || item.video === '')
              picture
                img(src=assetsImgPath + item.poster, alt='Creative lime case' + item.name)

      +button(null, SOME_WORK_BUTTON, null, null)

      p=SOME_WORK_TEXT
