section.team
  .container
    h2.caption!=TEAM_TITLE
    each item in TEAM_LIST
      article.team__item
        figure.team__pics
          each pic in item.pictures
            picture.team__ava(class=pic.customClass)
              img(src=assetsImgPath + pic.src, alt=pic.into)
        .team__card
          h2.team__name=item.name
          p=item.description
