-
  var
          TEAM_TITLE = "Your own creative team <span>for a fraction of the price</span>",
          TEAM_LIST = [
            {
              name: "Creative Directors",
              description: "Researching the trends, your competitors, your target group, their problems, their dreams and deepest desires. Coming up with ad concepts. Transforming scrolling users into customers that will purchase your product.",
              pictures: [
                {
                  src: 'team-3.webp',
                  into: 'team-3.webp',
                  customClass: null
                },
                {
                  src: 'team.webp',
                  into: 'team.webp',
                  customClass: null
                },
              ]
            },
            {
              name: "Video Editors",
              description: "Making sure all your videos can be watched on mute.  Making your videos easy to coprehend by using smart captions. Adding trending transitions, music, outros and exporting in all relevant formats.",
              pictures: [
                {
                  src: 'team-4.webp',
                  into: 'team-4.webp',
                  customClass: null
                },
                {
                  src: 'team-1.webp',
                  into: 'team-1.webp',
                  customClass: null
                }
              ]
            },
            {
              name: "Project managers",
              description: "Making sure that everything that comes in is of the highest quality and of course... on time!",
              pictures: [
                {
                  src: 'team-5.webp',
                  into: 'team-5.webp',
                  customClass: null
                },
                {
                  src: 'team-2.webp',
                  into: 'team-2.webp',
                  customClass: null
                }
              ]
            },
            {
              name: "Content Creators (actors)",
              description: "We have vetted content creatos in the USA, UK, Australia, Canada and Europe. Each of the creators we work with has gone through specialized training, so that you recieve the highest-quality UGC’s.",
              pictures: [
                {
                  src: 'map.svg',
                  into: 'map.webp',
                  customClass: "--map"
                }
              ]
            },
          ]

section.team
  .container
    h2.caption!=TEAM_TITLE
    each item in TEAM_LIST
      article.team__item
        figure.team__pics
          each pic in item.pictures
            picture.team__ava(class=pic.customClass)
              img(src=assetsImgPath + pic.src, alt=pic.into)
        .team__card
          h2.team__name=item.name
          p=item.description
