-
  var
          WELCOME_SUB_TEXT_1 = "Want to grow your e-com brand?",
          WELCOME_TITLE = "Get UGC Ad Creatives <br> <span>That Convert<span>",
          WELCOME_SUB_TEXT_2 = "Done-for-you on autopilot",
          WELCOME_BUTTON = "Done-for-you on autopilot",
          WELCOME_TEXT = "Only $100 per video"

section.welcome
  .container
    .welcome__logo
      +logo
    p.welcome__sub-text=WELCOME_SUB_TEXT_1
    h1(class="caption --large")!=WELCOME_TITLE
    p.welcome__sub-text=WELCOME_SUB_TEXT_2
    +button(null,WELCOME_BUTTON, null, null)
    p.welcome__text=WELCOME_TEXT

    .welcome__beck
      video.welcome__video(preload="metadate" controls=false)
        source(src=assetsVideoPath + "video.mp4" type="video/mp4")
      video.welcome__video(preload="metadate" controls=false)
          source(src=assetsVideoPath + "video.mp4" type="video/mp4")
