-
  var
          WELCOME_SUB_TEXT_1 = "Want to grow your e-com brand?",
          WELCOME_TITLE = "Get UGC Ad Creatives <br> <span>That Convert<span>",
          WELCOME_SUB_TEXT_2 = "Done-for-you on autopilot",
          WELCOME_BUTTON = "Done-for-you on autopilot",
          WELCOME_TEXT = "Only $100 per video"

section.welcome
  .container
    .welcome__logo
      +logo

    p.welcome__sub-text=WELCOME_SUB_TEXT_1
    h1(class="caption --large")!=WELCOME_TITLE
    p.welcome__sub-text=WELCOME_SUB_TEXT_2
    +button(null,WELCOME_BUTTON, null, null)
    p.welcome__text=WELCOME_TEXT

    .welcome__beck
      .welcome__video
        video(preload="metadate"
          playsinline autoplay muted loop controls=false
          poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
          source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")

      .welcome__video
        video(preload="metadate"
          playsinline autoplay muted loop controls=false
          poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
          source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")
