section.welcome
  .container
    .welcome__logo
      +logo

    p.welcome__sub-text=WELCOME_SUB_TEXT_1
    h1(class="caption --large")!=WELCOME_TITLE
    p.welcome__sub-text=WELCOME_SUB_TEXT_2

    .welcome__beck
      .welcome__video
        video(preload="metadate"
          playsinline autoplay muted loop controls=false
          poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
          source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")

      .welcome__video
        video(preload="metadate"
          playsinline autoplay muted loop controls=false
          poster="https://www.limecreative.com/wp-content/themes/lime/img/services-header.jpg")
          source(src="https://www.limecreative.com/wp-content/themes/lime/img/videos/about-video.mp4" type="video/mp4")

    +button(null,WELCOME_BUTTON, null, null)
    p.welcome__text=WELCOME_TEXT
